<div id='main'>
  <div id='window-container'>
    <div class='window'>
      <div class='title'>
        <div class='button-container'>
          <div class='button close'></div>
          <div class='button minimize'></div>
          <div class='button expand'></div>
        </div>
        <span>{{titleText}}</span>
      </div>
      <div class='content'>
        <div class='line-numbers'>
          <div *ngFor='let i of lineNumbers'>
            {{i}}
          </div>
        </div>
        <div class='text'>
          <span># Mingyu Gao</span>
        </div>
        <div class='vim-bottom airline-base'>
        </div>
        <div class='vim-bottom airline'>
          <div class='left-container'>
            <div class='mode'>
              NORMAL
            </div>
            <div class='filename'>
              mingyugao/resume.md
            </div>
          </div>
          <div class='right-container'>
            <div class='filetype'>
              markdown
            </div>
            <div class='encoding'>
              utf-8[unix]
            </div>
            <div class='cursor-info'>
              <div class='word-count'>
                134 words
              </div>
              <div class='percentage'>
                3%&#9776;
              </div>
              <div class='positions'>
                1/30 ln : 1
              </div>
            </div>
          </div>
        </div>
        <div class='vim-bottom buffer-info'>
          "mingyugao/resume.md", 30L, 420C written
        </div>
      </div>
    </div>
  </div>
</div>
